{
    "rules": {
        
        "indent": [
            2,
            "space"
        ],
        "quotes": [
            2,
            "single"
        ],
        "linebreak-style": [
            2,
            "windows"
        ],
        "semi": [
            2,
            "always"
        ]
    },
    "env": {
        "browser": true
    },
    "parserOptions": {
        "ecmaVersion": 6
      },
    "extends": "eslint:recommended"
}